In [5]:
#PROBLEM1
a = 45
b = 50

if a == b:
    print("square")
else:
    print("ractangle")

ractangle

In [10]:

name = "Tigran"
age = 22
password = "tiko123"

if name == "Batman":
    print("Welcome Mr.Batman")
if age < 16:
    print("Dear" + name + "you are too young to register")
if not ("*" in password or "&" in password):
    print("Please enter a different password")

Please enter a different password

In [13]:
d = {'name': 'Armen', 'age': 15, 'grades': [10, 8, 8, 4, 6, 7] }

if "weight" in d:
    print(d["weight"])
else:
    d['weight'] = input("Please input number: ")
print(d)

Please input number: 99
{'name': 'Armen', 'age': 15, 'grades': [10, 8, 8, 4, 6, 7], 'weight': '99'}

In [15]:
for x in range(1,100,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [35]:
n = 0

while n<6:
    n += 1
    
    if n == 2 or n ==4:
        continue
    print(n)

1
3
5
6

In [39]:
n = 0

while n<20:
    n += 1
    
    if n%3 == 0 and  n%5==0:
        break
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [45]:
list1 = [5, 7, -7, "abc", 2, 4, True, 3, 4, 6, 7, 7]
for three in list1:
    print(list1)
    if three == 3:
        break

[5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]
[5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]
[5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]
[5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]
[5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]
[5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]
[5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]
[5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]

In [50]:
num =  [7,8, 120, 25, 44, 20, 27]
num2 =  [n for n in num if n%2!=0]

print(num)
print(num2)

[7, 8, 120, 25, 44, 20, 27]
[7, 25, 27]

In [53]:
num = range(0,51)
list3 = [n**2 for n in num]
print(list3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [55]:
list1 = [2,4,45,60,80,101,150]
list2 = [n for n in list1 if n>20]
print(list1)
print(list2)

[2, 4, 45, 60, 80, 101, 150]
[45, 60, 80, 101, 150]

In [57]:
str1 = input("type text here")
l1 = [x for x in str1]
print(str1)
print (l1)

type text hereTigran
Tigran
['T', 'i', 'g', 'r', 'a', 'n']

In [68]:
list1 = ['a', 'abc', 'xyz', 's', 'aba', '12211']
list1=["a", "abc", "xyz", "s", "aba", "1221"]
for n in list1:
    if len(n)>=2 and n[0] == n[-1]:
        print(n)
m = len(n)
print(m)

aba
1221
4

In [ ]:
n_shoes = int(input("How many shoes do you want to buy? "))

if n_shoes * 100 > 1000:
    print("You get a discount")
else:
    print("You donâ€™t get a discount")

In [72]:
for x in range(1,10):
    if x%2==0:
        continue
    print(x)

1
3
5
7
9